/* layout.css
*
*basic styling for the static pages
*
*/


div#container{
	display:block;
	position: relative;
	min-height:1000px;
	width:1000px;
	margin: 0 auto;
	padding: 0;
	background-color: #FF0000;
}

header#page_header {
	height:100px;
	width: 100%;
	background-color: #080808 ;
	background: url('banner.png') top left no-repeat ;
	/* background-repeat:no-repeat;
	
	background-size: 500px; */
	background-size: 1000px; 1000px; 
	text-align: right;
	color: #080808;
	padding: 10px; 15px;

}

nav#utility{
	float: right;
	font-size: 1em;

}